extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, sed quo qui optio accusamus et commodi a dolor explicabo harum doloribus nostrum ex eos facere rem maiores, hic delectus fugiat accusantium distinctio culpa quia. Reiciendis adipisci suscipit minima debitis eum dicta sit perferendis similique facere ad numquam cum, quos nihil ratione placeat repudiandae sapiente officia vitae tempora. Harum, eveniet animi? Ex ea ab, magni eveniet optio excepturi obcaecati inventore. Labore, repellendus! Adipisci sed magni eligendi id doloremque ut autem non distinctio asperiores quasi nobis doloribus corporis ratione enim impedit eos nostrum officiis hic in quod ab, ex velit iure! Eius?

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius reprehenderit modi quo libero asperiores odit eaque quos expedita praesentium itaque velit quod vel pariatur, incidunt, hic dolor. Vitae saepe autem exercitationem. Pariatur nesciunt reprehenderit unde quis blanditiis ut minus quae autem accusamus perferendis totam, veniam ipsam, ducimus, aliquid minima expedita!

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut exercitationem architecto doloribus obcaecati quam optio aspernatur ipsum voluptate veritatis expedita aliquid, accusamus, fuga assumenda fugiat reprehenderit laborum ab provident dolorum. Nam vel illum quo obcaecati porro cumque deserunt sint totam odit debitis, aliquid, nostrum ipsa cum? Amet ullam necessitatibus sunt.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, recusandae rerum consequuntur ipsam earum optio suscipit, quis odio quod ad necessitatibus delectus laudantium laboriosam. Sunt, cum. Officia impedit deserunt consequatur.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, recusandae rerum consequuntur ipsam earum optio suscipit, quis odio quod ad necessitatibus delectus laudantium laboriosam. Sunt, cum. Officia impedit deserunt consequatur.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, recusandae rerum consequuntur ipsam earum optio suscipit, quis odio quod ad necessitatibus delectus laudantium laboriosam. Sunt, cum. Officia impedit deserunt consequatur.
